<launch>
	<node pkg="plen_ros" name="eyes_node" type="eyes_node.py"/>
	<node pkg="plen_ros" name="serial_node" type="serial_node.py"/>
	<node pkg="plen_ros" name="six_axis_node" type="six_axis_node.py"/>
	<node pkg="plen_ros" name="ble_node" type="ble_node.py"/>
	<!-- <node pkg="plen_ros" name="camera_node" type="camera_node.py"/> -->
</launch>
